.root {
  background-color: #f3f3f3;
  height: 100vh;
}

.card {
  display: flex;
  /* align-items: start; */
  width: 25vw;
  min-width: 380px;
  /* margin-top: 20px; */
  padding: 10px 20px;
  height: fit-content;
  background: #fdfdfd;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: start;
  margin: 10px 0px;
}

.title {
  text-align: start;
  width: 30%;
  font-size: 17px;
  font-weight: bold;
  color: #000;
}

.content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
}

.item {
  margin-bottom: 5px;
  font-size: 15px;
  color: #606060;
  text-decoration: none;
}

.item:hover {
  color: #000;
  /* text-decoration: underline; */
  cursor: pointer;
}

.card_footer {
  text-align: center;
  font-size: 10px;
  color: #606060;
  margin: 10px 0px;
}
