body {
  background-color: #f8faff;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}
.container {
  max-width: 1080px;
  height: 100vh;
  margin: 0 auto;
}
.nav_title {
  font-size: 20px;
  color: #084298;
  font-weight: bolder;
  letter-spacing: 0.7px;
  padding-top: 15px;
}
.main_title {
  width: 400px;
  font-size: 38px;
  color: black;
  word-break: keep-all;
  font-weight: 600;
  /* text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.07); */
  margin-top: 135px;
  animation-duration: 2s;
  animation-name: animate-blur;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
  animation-delay: 0.8s;
}
@keyframes animate-blur {
  0% {
    opacity: 0;
    filter: blur(15px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
.main_button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 121px;
  height: 48px;
  border-radius: 12px;
  background-color: #3d72c0;
  margin-top: 70px;
  margin-right: 30px;
  transition: all 0.2s ease-in-out;
}
.main_button:hover {
  color: white;
  background-color: #3661a3;
}
.about_button {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.about_button:hover {
  color: black;
  text-decoration: underline;
}
.marker {
  position: absolute;
  top: 120px;
  right: 20vw;
  width: 40px;
  height: 50px;
  z-index: 10;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}
.marker:nth-of-type(2) {
  top: 300px;
  right: 40vw;
  animation-delay: 0.2s;
}
.marker:nth-of-type(3) {
  top: 500px;
  right: 27vw;
  animation-delay: 0.4s;
}
.map {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  background-color: #f5f5f5;
  width: 54vw;
  height: 100vh;
  box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
}
